body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
}

.noscroll {
    overflow: hidden;
}

.overlay {
    position: fixed;
    overflow-y: scroll;
    inset: 0;
}

[aria-hidden="true"] {
    display: none;
}

[aria-hidden="false"] {
    display: block;
}

ul {
    font-family: 'Quicksand', sans-serif;
    font-size: 49px;
    color: #9970ff;
}

a.links:hover {
    color: #87ff86;
}

.imgs {
    position: absolute;
    z-index: -1;
    max-width: 30%;
}